<!DOCTYPE html>
<html lang="kr"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}">
<head>
    <title>수출통계 및 현황</title>
    <script th:src="@{/js/export/exportCommon.js}"></script>
    <script th:src="@{/js/export/statistic/statistics.js}"></script>
</head>
<div class="cont_box" layout:fragment="content">

    <div class="navi">
        <p><span class="home">Home</span><span>&gt</span>수출정보관리</span><span>&gt;</span><strong>수출통계 및 현황</strong></p>
    </div>
    <div class="cont">
        <h3>수출통계 및 현황</h3>
        <div class="tb_cont">
            <span class="tb_txt">전체 <strong>0</strong> 건</span>
            <select name="perPageNum" id="perPageNum">
                <option value="-1" >전체</option>
                <option value="10" selected/>10</option>
                <option value="30" />30</option>
                <option value="50" />50</option>
                <option value="100"/>100</option>
            </select>

            <div class="search_area">
                <select name="keyfield">
                    <option value="all">전체</option>
                    <option value="continent">대륙/국가</option>
                    <option value="companyname">기업명</option>
                    <option value="content">내용</option>
                    <option value="its_system">시스템 구분</option>
                </select>

                <input id="keywordInput" name="keyword" type="text" title="검색어" class="input_txt" />
                <select name="keyword" id="its_system" style="display: none;">
                    <option value="교통관리">교통관리</option>
                    <option value="대중교통">대중교통</option>
                    <option value="전자지불">전자지불</option>
                    <option value="교통정보유통">교통정보유통</option>
                    <option value="지능형차량도로">지능형차량도로</option>
                    <option value="화물운송">화물운송</option>
                    <option value="여행정보제공">여행정보제공</option>
                </select>
                <a class="btn_search" href="javascript:stats.getStatistics()">검색</a>
            </div>
        </div>

        <div class="btn_top">
            <a class="btn_red btn_excel_template_download" href="javascript:void(0);" >엑셀 업로드 샘플</a>
            <a class="btn_red btn_excel_upload" href="javascript:void(0);" >엑셀 업로드</a>
            <a class="btn_red btn_excel_download" href="javascript:void(0);" >엑셀 다운로드</a>
        </div>

        <form id="form" class="my-form" enctype="multipart/form-data">
            <input type="file" id="excelFileUpload" name="excelFileUpload"  accept=".xlsx, .xls, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display:none"/>
        </form>

        <table class="table_list">
            <caption>기술시장 동향</caption>
            <colgroup>
                <col style="width:5%" />
                <col style="width:5%" />
                <col style="width:5%" />
                <col style="width:6%" />
                <col style="width:7%" />
                <col style="width: auto" />
                <col style="width:8%" />
                <col style="width:8%" />
                <col style="width:8%" />
                <col style="width:8%" />
                <col style="width:8%" />
                <col style="width:5%" />
            </colgroup>
            <thead>
            <tr>
                <th scope="col">대륙</th>
                <th scope="col">사업종류</th>
                <th scope="col">년도</th>
                <th scope="col">국가</th>
                <th scope="col">시스템구분</th>
                <th scope="col">내용</th>
                <th scope="col">기업명</th>
                <th scope="col">금액<br />(천USD)</th>
                <th scope="col">재원구분</th>
                <th scope="col">예산출처</th>
                <th scope="col">근거자료<br />일련번호</th>
                <th scope="col">적용<br />환율</th>
            </tr>
            </thead>
            <tbody id="tmt_body">
            </tbody>
        </table>

        <div class="btn"><a class="btn_red" href="javascript:void(0);" id="btn_register">등록</a></div>
        <div id="div_page" class="page_list">
        </div>
    </div>
</div>
</html>
