<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpenLayers + Todo List</title>

  <script th:src="@{/lib/jquery-3.6.0.js}"></script>
  <script th:src="@{/lib/ol.js}"></script>
  <script th:src="@{/js/map.js}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPTpo3_scSZqJCE0t9Dmw8ElQzfLn4HE8&libraries=places"></script>

  <link rel="stylesheet" th:href="@{/lib/ol.css}">
  <link rel="stylesheet" th:href="@{/css/map.css}">
</head>
<body>

<div class="container">
  <!-- 왼쪽: 지도 & 입력 폼 -->
  <div class="left-panel">
    <div id="map"></div>

    <input type="text" id="taskInput" placeholder="할 일">
    <input type="time" id="startTime">
    <input type="time" id="endTime">
    <input id="searchBox" type="text" placeholder="장소 검색 (예: 서울시청)">
    <input id="lon" type="text" hidden>
    <input id="lat" type="text" hidden>
    <button id="addTask">추가</button>
  </div>




  <!-- 오른쪽: 할 일 목록 -->
  <div class="right-panel">
    <div class="todo-header">
      <h3>Todo</h3>
      <button id="feelingGoodBtn">I'm feeling Good</button>
    </div>
    <table id="taskTable">
      <thead>
      <tr>
        <th>완료</th>
        <th>할 일</th>
        <th>시작 시간</th>
        <th>종료 시간</th>
        <th>장소</th>
        <th>lon</th>
        <th>lat</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

</body>
</html>
