<!DOCTYPE html>
<html lang="kr"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<header id="header-gnb" th:fragment="headerGnbFragment">
    <div>
        <div id="tab_box">
            <p class="name">관리자</p>
            <div class="under_line"></div>
            <div class="tab">
                <a id="t1" class="" th:href="@{/export/world-its-market-infos}">수출정보 관리</a>
                <a id="t2" class="" th:href="@{/event/road-show}">행사정보 관리</a>
                <a id="t3" class="" th:href="@{/promotion/video}">홍보마당 관리</a>
                <a id="t4" class="" th:href="@{/education/online-lectures}">온라인 강의 관리</a>
                <a id="t5" class="" th:href="@{/communication/notices}">소통창구 관리</a>
                <a id="t6" class="" th:href="@{/homepage/popups}">홈페이지 관리</a>
                <a id="t7" class="" th:href="@{/auth/user-info-collection}">사용자 관리</a>
                <a id="t8" class="" th:href="@{/online-promotion/companies}">온라인 홍보관 관리</a>
            </div>
        </div>
    </div>
</header>
</html>




