<!DOCTYPE html>
<html lang="kr"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<header id="header" th:fragment="headerFragment">
    <h1><img th:src="@{/images/common/admin_logo.png}" alt="ITS국제협력센터" /></h1>
    <div class="box">
        <div class="util">
            <span><a th:href="@{/}"><img th:src="@{/images/common/btn_home.png}"  alt="홈페이지 바로가기" /></a></span>
            <a th:href="@{/logout}"><img th:src="@{/images/common/btn_exit.png}" alt="접속종료" /></a>
        </div>
    </div>
</header>
</html>

