<!DOCTYPE html>
<html lang="kr"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<header id="header" th:fragment="headerFragment">
    <h1><img th:src="@{/images/common/admin_logo.png}" alt="PROTOTYPE" /></h1>
    <div class="box">
        <div class="util">
            <span><a th:href="@{/}"><img th:src="@{/images/common/btn_home.png}"  alt="홈페이지 바로가기" /></a></span>
            <a th:href="@{/}"><img th:src="@{/images/common/btn_exit.png}" alt="접속종료" /></a>

            <!-- 즐겨찾기 버튼 추가 -->
            <div class="favorite-wrap">
                <a href="javascript:void(0);" id="favoriteBtn">
                    <img src="/images/common/btn_favorite.png" alt="즐겨찾기" />
                </a>

            </div>

            <a href="javascript:void(0);" id="toggleMenu">
                <img src="/images/common/btn_hamburger.png" alt="전체 메뉴" />
            </a>
        </div>

        <div id="favoriteMenu" class="dropdown hidden">
            <ul>
                <li><a href="#">즐겨찾기 1</a></li>
                <li><a href="#">즐겨찾기 2</a></li>
                <li><a href="#">즐겨찾기 3</a></li>
            </ul>
        </div>

        <div id="total-menu" class="total-menu" style="display: none;">
            <div class="close-btn" id="closeMenu">X</div> <!-- 닫기 버튼 -->
            <div id="menu-map" style="display: flex;"> <!-- 대메뉴를 세로로 배치 -->
            </div>
        </div>


    </div>


    <style>
        .favorite-wrap {
            position: relative;
            display: inline-block;
        }
        .dropdown {
            position: absolute;
            top: 30px;
            right: 0;
            background: white;
            border: 1px solid #ddd;
            padding: 10px;
            display: none;
        }
        .dropdown.hidden {
            display: none;
        }
    </style>

</header>
</html>

