<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/home.js"></script>
</head>
<body>
<h1>전체 게시판</h1>

<form id="searchForm">
    <input type="text" id="searchTitle" placeholder="검색할 제목을 입력하세요" />
    <button type="submit">검색</button>
</form>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody id="boardTableBody">
    </tbody>
</table>
</body>
</html>
